# =============================
# SQL SERVER (Tracking TK)
# =============================
SQL_SERVER=172.16.10.54\\DBABC21
SQL_DATABASE=Repecev2005_H
SQL_USERNAME=Repecev2005
SQL_PASSWORD=

# =============================
# NUEVO PROVEEDOR (Integralaia)
# =============================
PROVIDER_BASE_URL=https://dev-visado-api-abcrepecev.integralaia.com
PROVIDER_API_KEY=REEMPLAZAR_CON_TOKEN_REAL
PROVIDER_USE_DOC_HASH=false
PROVIDER_TIMEOUT_SECONDS=60

# =============================
# APP
# =============================
APP_HOST=0.0.0.0
APP_PORT=8000
APP_RELOAD=false
